body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;

}

h1 {
    color: #333;margin-top: 250px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #2980b9;
}
